#container {
	margin: auto;
    width: 600px;
    text-align: center;
}
.card{
	position: relative;
	width: 400px;
	border: black 1px solid;
	border-radius: 10px;
	margin: 10px auto;
	text-align: center;
}
#remove_que{
	position: absolute;
	width:400px;
	margin-left: 100px;
}